.bg-container{
    background-image: url("https://ik.imagekit.io/ub0g8ffns/MERN/todolistbg.png_updatedAt=1700761069523?updatedAt=1741438859782");
    height: 800px;
    width: 360px;
    background-repeat: no-repeat;   
}